extends base

block content
    video(controls src=`/${video.fileUrl}` id="video" data-id=video._id)
    div
        p=video.description
        small=video.createdAt
    div
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
        br
        small #{video.meta.views} views.
    if String(video.owner._id) === loggedInUser._id
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
    script.
        const video = document.getElementById("video");
        const endedHandler = () => {
            const { id } = video.dataset;
            fetch(`/api/videos/${id}/views`, {
                method: "POST",
            });
        };
        video.addEventListener("ended", endedHandler);
