extends base

block content
    video(src="/" + video.videoUrl, controls)
    div
        p=video.description
        small=video.createdAt
        small Uploaded by #{owner.name}
        br
        small=loggedInUser._id
    if String(video.owner)  === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;